$HEIGHT:90vh;
$WIDTH: 100vw;
$BORDER: 0px;

.debug{
	margin-top:100px;
	z-index: 2;
	position: absolute;
}

#bug-background{
	position: absolute;
	box-sizing: border-box;
	top: 0px;
	left: 0px;
	z-index: 0;
	height: $HEIGHT;
	width: $WIDTH;
	background: rgb(248,255,247);
	background: linear-gradient(0deg, rgba(248,255,247,0) 0%, rgba(172,241,255,1) 94%, rgba(145,236,255,1) 100%);
}

#ground {
	position: fixed;
	width: $WIDTH;
	bottom: $BORDER;
	left: $BORDER;
	background-color: #3f2c1d;
	height: 5px;
	z-index: 2;
}

#bug-ui{
	position: fixed;
	bottom: $BORDER;
	left: $BORDER;
	z-index: 1;
	height: $HEIGHT;
	width: $WIDTH;
}

#bug-controls{
	box-sizing: border-box;
	position: absolute;
	top: $BORDER;
	left: $BORDER;
	z-index: 2;
	width:400px;
	display:flex;
	justify-content:space-evenly;
	padding-top: 10px;
	width: $WIDTH;

	button{
		font-size: 16px;
		border-radius:6px;
		outline: none;

		:active{
			background-color: #101010;
		}

		&.paused{
			border-style: inset;
			background-color: #FFFF88;
		}
	}
}