$HEIGHT: 90vh;
$WIDTH: 100vw;
$BORDER: 0px;

.debug {
  margin-top: 100px;
  z-index: 2;
  position: absolute;
}

#bug-background {
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  z-index: -1;
  height: $HEIGHT;
  width: $WIDTH;
  background: rgb(248, 255, 247);
  background: linear-gradient(
    0deg,
    rgba(248, 255, 247, 0) 0%,
    rgba(172, 241, 255, 1) 94%,
    rgba(145, 236, 255, 1) 100%
  );
}

#ground {
  position: fixed;
  width: $WIDTH;
  bottom: $BORDER;
  left: $BORDER;
  background-color: #7a4a25;
  height: 5px;
  z-index: -1;
}

#bug-ui {
  box-sizing: border-box;
  position: fixed;
  bottom: $BORDER;
  left: $BORDER;
  z-index: -1;
  height: $HEIGHT;
  width: $WIDTH;
  margin-bottom: 2px;
}

#bug-tabs {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    cursor: pointer;
  }
}

#bug-controls {
  box-sizing: border-box;
  position: absolute;
  top: $BORDER;
  left: $BORDER;
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;

  li {
    font-size: 16px;
    outline: none;
    padding: 4px;
    border: 1px solid black;
    background-color: white;
    text-transform: uppercase;
    display: block;

    :active {
      background-color: #101010;
    }

    &.paused {
      border-style: inset;
      background-color: #ffff88;
    }
  }
}

#bug-form {
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 500px;
  padding: 4px;
  border: 1px solid black;

  > div {
    width: 100%;
    display: flex;
    margin: 4px 0px;

    button {
      width: 50%;
    }
  }

  .input-row {
    justify-content: space-between;
  }
}
